The Emulator/x64/
*.vsidx
*.db
*.json
*.ipch
*.vcxproj
*.filters
*.filters
*.user
*.obj
*.ilk
*.log
*.tlog
*.idb
*.pdb
The Emulator/.vs/The Emulator/v17/.suo
*.recipe
*.gpu
*.db-shm
*.db-wal
*.opendb
*.iobj
*.ipdb
*.enc
